@HOME@/Projects/**
@HOME@/Documents/**
@HOME@/Desktop/**
@HOME@/Pictures/**
@HOME@/Music/**
@HOME@/Movies/**
@HOME@/Downloads/**
@HOME@/go/**

@HOME@/.ssh/**
@HOME@/.gnupg/**
@HOME@/.config/**
@HOME@/.docker/**
@HOME@/.iterm2/**
@HOME@/.tmux/**
@HOME@/.mitmproxy/**
@HOME@/.local/share/fish/**
@HOME@/.local/share/gh/**
@HOME@/.zshrc
@HOME@/.zshenv
@HOME@/.zprofile
@HOME@/.zlogin
@HOME@/.zsh_history
@HOME@/.zsh_sessions/**
@HOME@/.bashrc
@HOME@/.bash_profile
@HOME@/.bash_logout
@HOME@/.profile
@HOME@/.bash_history
@HOME@/.config/fish/**
@HOME@/.local/share/fish/**
@HOME@/.tmux.conf
@HOME@/.vimrc
@HOME@/.gitconfig
@HOME@/.npmrc
@HOME@/.common_env
@HOME@/.bash_env_claude
@HOME@/.claude.json
@HOME@/.config.zip

@HOME@/Library/Mail/**
@HOME@/Library/Messages/**
@HOME@/Library/Preferences/**
@HOME@/Library/MobileSync/Backup/**
@HOME@/Library/LaunchAgents/**

/Library/LaunchAgents/com.user.*.plist
/Library/LaunchDaemons/com.local.*.plist
